$primary-color: #111;
$secondary-color: #808080;
$secondary-color-filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(97%) contrast(92%);

$text-color: #414141;
$title-color: #333;

$oswald-font-family: "Oswald",
sans-serif;
$open-sans-font-family: "Open Sans",
sans-serif;
$pt-serif: "PT Serif",
serif;

$button-radius-small: 5px;
$button-radius-medium: 25px;

$md-break-point: 1600px;
$sm-break-point: 1300px;
$xs-break-point: 1000px;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $open-sans-font-family;
  font-size: 16px;
  line-height: 1.6;
  color: $text-color;
  background: #fff;

  @media (max-width: $xs-break-point) {
    line-height: 1.4;
  }
}

.reverso {
  font-family: $oswald-font-family;
  font-weight: bold;
  letter-spacing: 2px;
  color: $primary-color;

  &__reverse {
    display: inline-block;
    direction: rtl;
    unicode-bidi: bidi-override;
    transform: rotateY(180deg);
    margin-left: -1px;
    margin-right: 1px;
  }
}

@keyframes logo {
  0% {
    filter: drop-shadow(0 0 2px white);
  }

  70% {
    filter: drop-shadow(0 0 100px white);
  }

  75% {
    filter: drop-shadow(0 0 500px white);
  }

  100% {
    filter: drop-shadow(0 0 2px white);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat center;

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.4);
  }

  &__logo {
    z-index: 10;
    position: absolute;
    top: 12%;
    width: 250px;
    animation: logo 2s 1s ease-in-out;

    @media (max-width: $xs-break-point) {
      width: 150px;
    }
  }

  &__center {
    z-index: 10;
    color: #fff;
  }

  &__title {
    font-family: $oswald-font-family;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media (max-width: $xs-break-point) {
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  &__subtitle {
    font-family: $oswald-font-family;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 100px;

    @media (max-width: $xs-break-point) {
      font-size: 16px;
    }
  }

  &__order-button {
    display: inline-block;
    padding: 12px 30px;
    font-family: $oswald-font-family;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(to right,
        $primary-color,
        darken($primary-color, 35%));
    border-top-left-radius: $button-radius-small;
    border-bottom-right-radius: $button-radius-medium;
    border-bottom: 1px solid $secondary-color;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      box-shadow: 0 0 40px rgba($primary-color, 0.2);
      color: $secondary-color;
    }

    @media (max-width: $xs-break-point) {
      font-size: 16px;
    }
  }

  &__bottom {
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: rgba($primary-color, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: $xs-break-point) {
      height: 70px;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $oswald-font-family;
      font-size: 16px;
      color: #ddd;
      cursor: pointer;
      width: 200px;
      transition: color 0.3s;

      @media (max-width: $xs-break-point) {
        font-size: 12px;
      }

      &:hover {
        color: $secondary-color;

        .header__bottom-icon {
          box-shadow: 0 0 10px rgba($secondary-color, 0.9),
            inset 0 0 100px rgba($secondary-color, 0.4);
        }
      }
    }

    &-icon {
      width: 40px;
      margin-bottom: 10px;
      filter: invert(97%) sepia(2%) saturate(782%) hue-rotate(203deg) brightness(116%) contrast(73%);
      transition: box-shadow 0.3s;

      @media (max-width: $xs-break-point) {
        width: 24px;
        margin-bottom: 5px;
      }
    }
  }
}

.main {
  .section:nth-child(even) {
    background-color: #f7f7f7;
  }
}

.section {
  padding: 150px 0;

  @media (max-width: $md-break-point) {
    padding-right: 200px;
    padding-left: 200px;
  }

  @media (max-width: $xs-break-point) {
    padding: 60px 30px;
  }

  &__title {
    position: relative;
    display: inline-block;
    color: $title-color;
    font-family: $oswald-font-family;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-left: 400px;
    margin-bottom: 50px;

    @media (max-width: $md-break-point) {
      margin-left: 0;
    }

    @media (max-width: $xs-break-point) {
      font-size: 20px;
      margin-bottom: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 0;
      bottom: 0;
      width: 4px;
      background: $title-color;

      @media (max-width: $xs-break-point) {
        left: -15px;
        width: 3px;
      }
    }
  }

  &__text {
    padding: 0 400px;

    @media (max-width: $md-break-point) {
      padding: 0;
    }

    &-note {
      font-size: 0.8em;
      margin-top: 20px;
    }

    &-contact {
      display: block;
      text-decoration: none;
      color: $title-color;
      font-family: $oswald-font-family;
      font-size: 24px;
      transition: color 0.3s;

      &:first-child {
        font-family: $pt-serif;
      }

      &:hover {
        color: $secondary-color;

        img {
          filter: $secondary-color-filter;
        }
      }

      img {
        width: 20px;
        vertical-align: middle;
        margin-right: 10px;
        filter: invert(17%) sepia(0%) saturate(10%) hue-rotate(145deg) brightness(93%) contrast(87%);
      }
    }

    &-address {
      margin-top: 30px;
      font-size: 0.9em;

      img {
        width: 15px;
        vertical-align: middle;
        filter: invert(28%) sepia(51%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(117%);
      }
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding-left: 80px;

      @media (max-width: $xs-break-point) {
        padding-left: 30px;
      }
    }

    li {
      position: relative;
      margin-bottom: 40px;

      @media (max-width: $xs-break-point) {
        margin-bottom: 25px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      img {
        position: absolute;
        top: 0;
        left: -80px;
        width: 45px;
        filter: $secondary-color-filter;

        @media (max-width: $xs-break-point) {
          width: 20px;
          left: -30px;
          top: 5px;
        }
      }
    }
  }

  &__list-item-title {
    font-family: $oswald-font-family;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: $md-break-point) {
      margin-right: -200px;
      margin-left: -200px;
    }

    @media (max-width: $sm-break-point) {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #eee;
    padding: 50px;
    border-top-left-radius: $button-radius-small;
    border-bottom-right-radius: $button-radius-medium;
    border-bottom: 1px solid $secondary-color;
    transition: box-shadow 0.3s, color 0.3s;

    @media (max-width: $sm-break-point) {
      width: 100%;
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $xs-break-point) {
      padding: 30px;
    }

    &:hover {
      box-shadow: 0 0 30px rgba($primary-color, 0.2);
    }

    &-desc {
      p {
        margin-bottom: 10px;
      }

      &-note {
        font-weight: 500;
        color: $secondary-color;
      }
    }

    &-title {
      font-family: $oswald-font-family;
      text-transform: uppercase;
      color: $secondary-color;
      margin-bottom: 30px;

      @media (max-width: $xs-break-point) {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }

    &-list {
      margin-top: 20px;
      margin-left: -40px;
      list-style-type: square;

      &-title {
        font-family: $oswald-font-family;
        font-size: 18px;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      &-item {
        margin-bottom: 5px;
      }
    }

    &-spacer {
      flex-grow: 1;
    }

    &-prices {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
      background-color: rgba($primary-color, 0.2);
      border-top-left-radius: $button-radius-small;
      border-bottom-right-radius: $button-radius-medium;
      font-family: $oswald-font-family;
      font-size: 18px;
      line-height: 1.2;

      @media (max-width: $xs-break-point) {
        padding: 10px;
        font-size: 16px;
      }

      &-price {
        font-family: $pt-serif;
        font-size: 26px;
        font-weight: 700;
        color: $secondary-color;

        @media (max-width: $xs-break-point) {
          font-size: 22px;
        }
      }
    }

    &-button {
      margin-top: 40px;
      padding: 10px 0px;
      font-family: $oswald-font-family;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      background: linear-gradient(to right,
          $primary-color,
          darken($primary-color, 35%));
      border-top-left-radius: $button-radius-small;
      border-bottom-right-radius: $button-radius-medium;
      cursor: pointer;
      transition: box-shadow 0.3s, color 0.3s;

      @media (max-width: $xs-break-point) {
        margin-top: 30px;
        font-size: 16px;
      }

      &:hover {
        box-shadow: 0 0 20px rgba($primary-color, 0.5);
        color: $secondary-color;
      }
    }
  }

  &__divider {
    margin: 60px 0 70px;
    height: 1px;
    background: linear-gradient(to left,
        transparent 0%,
        rgba($color: $primary-color, $alpha: 0.5) 50%,
        transparent 100%);

    @media (max-width: $sm-break-point) {
      margin: 60px 0;
    }

    @media (max-width: $xs-break-point) {
      margin: 40px 0;
    }
  }
}

.carousel {
  display: flex;

  &:nth-child(3),
  &:nth-child(7) {
    flex-direction: row-reverse;

    .carousel {
      &__desc {
        padding-right: 50px;
        padding-left: 0;
      }
    }
  }

  @media (max-width: $sm-break-point) {
    flex-direction: column-reverse;

    &:nth-child(3),
    &:nth-child(7) {
      flex-direction: column-reverse;
    }

    .carousel {
      &__images {
        width: 100%;
      }

      &__desc {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
      }
    }
  }

  &__images {
    width: 60%;
  }

  &__desc {
    width: 40%;
    padding-left: 50px;
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;

    &__link {
      margin-right: 10px;
      margin-bottom: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      display: block;
      width: 80px;
      height: 50px;
      object-fit: cover;

      @media (max-width: $xs-break-point) {
        width: 70px;
      }
    }
  }
}

.footer {
  position: relative;
  background: url(../img/footer-bg.jpg) no-repeat center -1300px;
  padding: 150px 400px;

  @media (max-width: $sm-break-point) {
    padding: 150px 200px;
  }

  @media (max-width: $xs-break-point) {
    padding: 80px 30px;
  }

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.4);
  }

  &__form {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;

    >* {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      font-family: $oswald-font-family;
      font-size: 26px;
      color: #fff;

      @media (max-width: $xs-break-point) {
        font-size: 20px;
      }
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid rgba(#fff, 0.2);
      color: #fff;
      font-size: 20px;
      outline: none;
      padding: 10px 0;
      margin-bottom: -2px;
      width: 100%;

      @media (max-width: $xs-break-point) {
        font-size: 16px;
      }

      &:focus {
        border-bottom: 2px solid #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }

    &-input {
      &::after {
        display: block;
        content: "";
        border-bottom: 2px solid #fff;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    &-button {
      font-family: $oswald-font-family;
      font-size: 18px;
      text-align: center;
      padding: 10px 0;
      margin-top: 30px;
      color: #fff;
      background: linear-gradient(to right,
          $primary-color,
          darken($primary-color, 35%));
      border-top-left-radius: $button-radius-small;
      border-bottom-right-radius: $button-radius-medium;
      border-bottom: 1px solid $secondary-color;
      cursor: pointer;
      transition: box-shadow 0.3s, color 0.3s;

      @media (max-width: $xs-break-point) {
        font-size: 16px;
      }

      &:hover {
        box-shadow: 0 0 30px rgba($primary-color, 0.3);
        color: $secondary-color;
      }
    }
  }
}