* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background: #111;
}

.reverso {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2e2efd;
}

.reverso__reverse {
  display: inline-block;
  direction: rtl;
  unicode-bidi: bidi-override;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #ffff3c;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat center;
}

.header::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__logo {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 450px;
  -webkit-filter: drop-shadow(0 0 2px white);
          filter: drop-shadow(0 0 2px white);
}

.header__center {
  z-index: 10;
  color: #fff;
}

.header__title {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.header__order-button {
  display: inline-block;
  padding: 12px 30px;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #2e2efd;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  border-bottom: 3px solid #ffff3c;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

.header__order-button:hover {
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 60, 0.2);
          box-shadow: 0 0 50px rgba(255, 255, 60, 0.2);
  color: #ffff3c;
}

.header__bottom {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: rgba(46, 46, 253, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__bottom-link:hover {
  color: #ffff3c;
}

.header__bottom-link:hover .header__bottom-icon {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 60, 0.9), inset 0 0 100px rgba(255, 255, 60, 0.4);
          box-shadow: 0 0 10px rgba(255, 255, 60, 0.9), inset 0 0 100px rgba(255, 255, 60, 0.4);
}

.header__bottom-icon {
  width: 40px;
  margin-bottom: 10px;
  -webkit-filter: invert(70%) sepia(99%) saturate(397%) hue-rotate(3deg) brightness(110%) contrast(85%);
          filter: invert(70%) sepia(99%) saturate(397%) hue-rotate(3deg) brightness(110%) contrast(85%);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.main .section:nth-child(even) {
  background-color: #131313;
}

.section {
  padding: 150px 0;
}

.section__title {
  position: relative;
  display: inline-block;
  color: #ffff3c;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-left: 400px;
  margin-bottom: 50px;
}

.section__title::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  width: 7px;
  background-color: #2e2efd;
  border-bottom: 3px solid #ffff3c;
}

.section__text {
  padding: 0 400px;
}

.section__text-note {
  font-size: 0.8em;
  margin-top: 20px;
}

.section__text-contact {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.section__text-contact:first-child {
  font-family: "PT Serif", serif;
}

.section__text-contact:hover {
  color: #ffff3c;
}

.section__text-address {
  margin-top: 30px;
  font-size: 0.9em;
}

.section__text p {
  margin-bottom: 20px;
}

.section__text ul {
  list-style: none;
  padding-left: 80px;
}

.section__text li {
  position: relative;
  margin-bottom: 40px;
}

.section__text li:last-child {
  margin-bottom: 0;
}

.section__text li img {
  position: absolute;
  top: 0;
  left: -80px;
  width: 45px;
  -webkit-filter: invert(70%) sepia(99%) saturate(397%) hue-rotate(3deg) brightness(110%) contrast(85%);
          filter: invert(70%) sepia(99%) saturate(397%) hue-rotate(3deg) brightness(110%) contrast(85%);
}

.section__list-item-title {
  font-family: "Oswald", sans-serif;
  color: #ffff3c;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  background-color: #151515;
  padding: 50px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  border-bottom: 3px solid #ffff3c;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

.section__card:hover {
  -webkit-box-shadow: 0 0 30px rgba(255, 255, 60, 0.2);
          box-shadow: 0 0 30px rgba(255, 255, 60, 0.2);
}

.section__card-desc p {
  margin-bottom: 10px;
}

.section__card-desc-note {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffff3c;
}

.section__card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffff3c;
  margin-bottom: 30px;
}

.section__card-list {
  margin-top: 20px;
  margin-left: -40px;
  list-style-type: square;
}

.section__card-list-title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #ffff3c;
  margin-bottom: 10px;
}

.section__card-list-item {
  margin-bottom: 5px;
}

.section__card-spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section__card-prices {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(46, 46, 253, 0.2);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.section__card-prices-price {
  font-family: "PT Serif", serif;
  font-size: 26px;
  color: #ffff3c;
}

.section__card-button {
  margin-top: 40px;
  padding: 10px 0px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #2e2efd;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

.section__card-button:hover {
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 60, 0.2);
          box-shadow: 0 0 20px rgba(255, 255, 60, 0.2);
  color: #ffff3c;
}
/*# sourceMappingURL=styles.css.map */