* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #414141;
  background: #fff;
}

@media (max-width: 1000px) {
  body {
    line-height: 1.4;
  }
}

.reverso {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #111;
}

.reverso__reverse {
  display: inline-block;
  direction: rtl;
  unicode-bidi: bidi-override;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-left: -1px;
  margin-right: 1px;
}

@-webkit-keyframes logo {
  0% {
    -webkit-filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 2px white);
  }
  70% {
    -webkit-filter: drop-shadow(0 0 100px white);
            filter: drop-shadow(0 0 100px white);
  }
  75% {
    -webkit-filter: drop-shadow(0 0 500px white);
            filter: drop-shadow(0 0 500px white);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 2px white);
  }
}

@keyframes logo {
  0% {
    -webkit-filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 2px white);
  }
  70% {
    -webkit-filter: drop-shadow(0 0 100px white);
            filter: drop-shadow(0 0 100px white);
  }
  75% {
    -webkit-filter: drop-shadow(0 0 500px white);
            filter: drop-shadow(0 0 500px white);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 2px white);
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat center;
}

.header::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__logo {
  z-index: 10;
  position: absolute;
  top: 12%;
  width: 250px;
  -webkit-animation: logo 2s 1s ease-in-out;
          animation: logo 2s 1s ease-in-out;
}

@media (max-width: 1000px) {
  .header__logo {
    width: 150px;
  }
}

.header__center {
  z-index: 10;
  color: #fff;
}

.header__title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.header__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .header__subtitle {
    font-size: 16px;
  }
}

.header__order-button {
  display: inline-block;
  padding: 12px 30px;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#111), to(black));
  background: linear-gradient(to right, #111, black);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  border-bottom: 1px solid #808080;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

.header__order-button:hover {
  -webkit-box-shadow: 0 0 40px rgba(17, 17, 17, 0.2);
          box-shadow: 0 0 40px rgba(17, 17, 17, 0.2);
  color: #808080;
}

@media (max-width: 1000px) {
  .header__order-button {
    font-size: 16px;
  }
}

.header__bottom {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: rgba(17, 17, 17, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .header__bottom {
    height: 70px;
  }
}

.header__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #ddd;
  cursor: pointer;
  width: 200px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 1000px) {
  .header__bottom-link {
    font-size: 12px;
  }
}

.header__bottom-link:hover {
  color: #808080;
}

.header__bottom-link:hover .header__bottom-icon {
  -webkit-box-shadow: 0 0 10px rgba(128, 128, 128, 0.9), inset 0 0 100px rgba(128, 128, 128, 0.4);
          box-shadow: 0 0 10px rgba(128, 128, 128, 0.9), inset 0 0 100px rgba(128, 128, 128, 0.4);
}

.header__bottom-icon {
  width: 40px;
  margin-bottom: 10px;
  -webkit-filter: invert(97%) sepia(2%) saturate(782%) hue-rotate(203deg) brightness(116%) contrast(73%);
          filter: invert(97%) sepia(2%) saturate(782%) hue-rotate(203deg) brightness(116%) contrast(73%);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

@media (max-width: 1000px) {
  .header__bottom-icon {
    width: 24px;
    margin-bottom: 5px;
  }
}

.main .section:nth-child(even) {
  background-color: #f7f7f7;
}

.section {
  padding: 150px 0;
}

@media (max-width: 1600px) {
  .section {
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media (max-width: 1000px) {
  .section {
    padding: 60px 30px;
  }
}

.section__title {
  position: relative;
  display: inline-block;
  color: #333;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-left: 400px;
  margin-bottom: 50px;
}

@media (max-width: 1600px) {
  .section__title {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .section__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.section__title::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #333;
}

@media (max-width: 1000px) {
  .section__title::before {
    left: -15px;
    width: 3px;
  }
}

.section__text {
  padding: 0 400px;
}

@media (max-width: 1600px) {
  .section__text {
    padding: 0;
  }
}

.section__text-note {
  font-size: 0.8em;
  margin-top: 20px;
}

.section__text-contact {
  display: block;
  text-decoration: none;
  color: #333;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 1000px) {
  .section__text-contact {
    font-size: 20px;
  }
}

.section__text-contact:first-child {
  font-family: "PT Serif", serif;
}

.section__text-contact:hover {
  color: #808080;
}

.section__text-contact:hover img {
  -webkit-filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(97%) contrast(92%);
          filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(97%) contrast(92%);
}

.section__text-contact img {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-filter: invert(17%) sepia(0%) saturate(10%) hue-rotate(145deg) brightness(93%) contrast(87%);
          filter: invert(17%) sepia(0%) saturate(10%) hue-rotate(145deg) brightness(93%) contrast(87%);
}

@media (max-width: 1000px) {
  .section__text-contact img {
    width: 16px;
  }
}

.section__text-contact_phone {
  font-weight: bold;
}

.section__text-contact_instagram img {
  margin-left: 1px;
  width: 18px;
}

@media (max-width: 1000px) {
  .section__text-contact_instagram img {
    width: 14px;
  }
}

.section__text-address {
  margin-top: 30px;
  font-size: 0.9em;
}

.section__text-address img {
  width: 15px;
  vertical-align: middle;
  -webkit-filter: invert(28%) sepia(51%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(117%);
          filter: invert(28%) sepia(51%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(117%);
}

.section__text p {
  margin-bottom: 20px;
}

.section__text ul {
  list-style: none;
  padding-left: 80px;
}

@media (max-width: 1000px) {
  .section__text ul {
    padding-left: 30px;
  }
}

.section__text li {
  position: relative;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .section__text li {
    margin-bottom: 25px;
  }
}

.section__text li:last-child {
  margin-bottom: 0;
}

.section__text li img {
  position: absolute;
  top: 0;
  left: -80px;
  width: 45px;
  -webkit-filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(97%) contrast(92%);
          filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(97%) contrast(92%);
}

@media (max-width: 1000px) {
  .section__text li img {
    width: 20px;
    left: -30px;
    top: 5px;
  }
}

.section__list-item-title {
  font-family: "Oswald", sans-serif;
  color: #808080;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1600px) {
  .section__cards {
    margin-right: -200px;
    margin-left: -200px;
  }
}

@media (max-width: 1300px) {
  .section__cards {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  background-color: #eee;
  padding: 50px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  border-bottom: 1px solid #808080;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

@media (max-width: 1300px) {
  .section__card {
    width: 100%;
    margin-bottom: 70px;
  }
  .section__card:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .section__card {
    padding: 30px;
  }
}

.section__card:hover {
  -webkit-box-shadow: 0 0 30px rgba(17, 17, 17, 0.2);
          box-shadow: 0 0 30px rgba(17, 17, 17, 0.2);
}

.section__card-desc p {
  margin-bottom: 10px;
}

.section__card-desc-note {
  font-weight: 500;
  color: #808080;
}

.section__card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .section__card-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.section__card-list {
  margin-top: 20px;
  margin-left: -40px;
  list-style-type: square;
}

.section__card-list-title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #808080;
  margin-bottom: 10px;
}

.section__card-list-item {
  margin-bottom: 5px;
}

.section__card-spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section__card-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.2);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

@media (max-width: 1000px) {
  .section__card-prices {
    padding: 10px;
    font-size: 16px;
  }
}

.section__card-prices-price {
  font-family: "PT Serif", serif;
  font-size: 26px;
  font-weight: 700;
  color: #808080;
}

@media (max-width: 1000px) {
  .section__card-prices-price {
    font-size: 22px;
  }
}

.section__card-button {
  margin-top: 40px;
  padding: 10px 0px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#111), to(black));
  background: linear-gradient(to right, #111, black);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

@media (max-width: 1000px) {
  .section__card-button {
    margin-top: 30px;
    font-size: 16px;
  }
}

.section__card-button:hover {
  -webkit-box-shadow: 0 0 20px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 20px rgba(17, 17, 17, 0.5);
  color: #808080;
}

.section__divider {
  margin: 60px 0 70px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, rgba(17, 17, 17, 0.5)), to(transparent));
  background: linear-gradient(to left, transparent 0%, rgba(17, 17, 17, 0.5) 50%, transparent 100%);
}

@media (max-width: 1300px) {
  .section__divider {
    margin: 60px 0;
  }
}

@media (max-width: 1000px) {
  .section__divider {
    margin: 40px 0;
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel:nth-child(3), .carousel:nth-child(7) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.carousel:nth-child(3) .carousel__desc, .carousel:nth-child(7) .carousel__desc {
  padding-right: 50px;
  padding-left: 0;
}

@media (max-width: 1300px) {
  .carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .carousel:nth-child(3), .carousel:nth-child(7) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .carousel .carousel__images {
    width: 100%;
  }
  .carousel .carousel__desc {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
}

.carousel__images {
  width: 60%;
}

.carousel__desc {
  width: 40%;
  padding-left: 50px;
}

.carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.carousel-nav__link {
  margin-right: 10px;
  margin-bottom: 10px;
}

.carousel-nav__link:last-child {
  margin-right: 0;
}

.carousel-nav img {
  display: block;
  width: 80px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .carousel-nav img {
    width: 70px;
  }
}

.footer {
  position: relative;
  background: url(../img/footer-bg.jpg) no-repeat center -1300px;
  padding: 150px 400px;
}

@media (max-width: 1300px) {
  .footer {
    padding: 150px 200px;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 80px 30px;
  }
}

.footer::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.footer__form {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__form > * {
  margin-bottom: 30px;
}

.footer__form > *:last-child {
  margin-bottom: 0;
}

.footer__form-title {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  color: #fff;
}

@media (max-width: 1000px) {
  .footer__form-title {
    font-size: 20px;
  }
}

.footer__form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 20px;
  outline: none;
  padding: 10px 0;
  margin-bottom: -2px;
  width: 100%;
}

@media (max-width: 1000px) {
  .footer__form input {
    font-size: 16px;
  }
}

.footer__form input:focus {
  border-bottom: 2px solid #fff;
}

.footer__form input::-webkit-input-placeholder {
  color: #fff;
}

.footer__form input:-ms-input-placeholder {
  color: #fff;
}

.footer__form input::-ms-input-placeholder {
  color: #fff;
}

.footer__form input::placeholder {
  color: #fff;
}

.footer__form-input::after {
  display: block;
  content: "";
  border-bottom: 2px solid #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.footer__form-input:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__form-button {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#111), to(black));
  background: linear-gradient(to right, #111, black);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  border-bottom: 1px solid #808080;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

@media (max-width: 1000px) {
  .footer__form-button {
    font-size: 16px;
  }
}

.footer__form-button:hover {
  -webkit-box-shadow: 0 0 30px rgba(17, 17, 17, 0.3);
          box-shadow: 0 0 30px rgba(17, 17, 17, 0.3);
  color: #808080;
}

.dialog {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 100px;
  right: calc(50% - 300px);
  padding: 30px 50px;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
}

@media (max-width: 1000px) {
  .dialog {
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

.dialog__button {
  margin-top: 15px;
  padding: 10px 0px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#111), to(black));
  background: linear-gradient(to right, #111, black);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

@media (max-width: 1000px) {
  .dialog__button {
    margin-top: 30px;
    font-size: 16px;
  }
}

.dialog__button:hover {
  -webkit-box-shadow: 0 0 20px rgba(17, 17, 17, 0.5);
          box-shadow: 0 0 20px rgba(17, 17, 17, 0.5);
  color: #808080;
}
/*# sourceMappingURL=styles.css.map */