$primary-color: #2e2efd;
$secondary-color: #ffff3c;

$oswald-font-family: "Oswald", sans-serif;
$roboto-font-family: "Roboto", sans-serif;
$open-sans-font-family: "Open Sans", sans-serif;
$pt-serif: "PT Serif", serif;

$button-radius-small: 5px;
$button-radius-medium: 25px;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  // font-family: $roboto-font-family;
  font-family: $open-sans-font-family;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background: #111;
}

.reverso {
  font-family: $oswald-font-family;
  font-weight: bold;
  letter-spacing: 2px;
  color: $primary-color;

  &__reverse {
    display: inline-block;
    direction: rtl;
    unicode-bidi: bidi-override;
    transform: rotateY(180deg);
    // margin-left: -2px;
    // margin-right: 2px;
    color: $secondary-color;
  }
}

@keyframes logo {
  0% {
    filter: drop-shadow(0 0 2px white);
  }
  80% {
    filter: drop-shadow(0 0 100px white);
  }
  100% {
    filter: drop-shadow(0 0 2px white);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat center;

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.4);
  }

  &__logo {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 450px;
    filter: drop-shadow(0 0 2px white);
    animation: logo 3s 2s;

    // &_white {
    //   filter: drop-shadow(0 0 5px $secondary-color);
    // }
  }

  &__center {
    z-index: 10;
    color: #fff;
  }

  &__title {
    font-family: $oswald-font-family;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $oswald-font-family;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  &__order-button {
    display: inline-block;
    padding: 12px 30px;
    font-family: $oswald-font-family;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $primary-color;
    border-top-left-radius: $button-radius-small;
    border-bottom-right-radius: $button-radius-medium;
    border-bottom: 3px solid $secondary-color;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      box-shadow: 0 0 50px rgba($secondary-color, 0.2);
      color: $secondary-color;
    }
  }

  &__bottom {
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: rgba($primary-color, 0.15);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $oswald-font-family;
      font-size: 16px;
      cursor: pointer;
      width: 200px;
      transition: color 0.3s;

      &:hover {
        color: $secondary-color;

        .header__bottom-icon {
          box-shadow: 0 0 10px rgba($secondary-color, 0.9),
            inset 0 0 100px rgba($secondary-color, 0.4);
        }
      }
    }

    &-icon {
      width: 40px;
      margin-bottom: 10px;
      filter: invert(70%) sepia(99%) saturate(397%) hue-rotate(3deg)
        brightness(110%) contrast(85%);
      transition: box-shadow 0.3s;
    }
  }
}

.main {
  .section:nth-child(even) {
    background-color: #131313;
  }
}

.section {
  padding: 150px 0;

  &__title {
    position: relative;
    display: inline-block;
    color: $secondary-color;
    font-family: $oswald-font-family;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-left: 400px;
    margin-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 0;
      bottom: 0;
      width: 7px;
      background-color: $primary-color;
      border-bottom: 3px solid $secondary-color;
    }
  }

  &__text {
    padding: 0 400px;

    &-note {
      font-size: 0.8em;
      margin-top: 20px;
    }

    &-contact {
      display: block;
      text-decoration: none;
      color: #fff;
      font-family: $oswald-font-family;
      font-size: 24px;
      transition: color 0.3s;

      &:first-child {
        font-family: $pt-serif;
      }

      &:hover {
        color: $secondary-color;
      }
    }

    &-address {
      margin-top: 30px;
      font-size: 0.9em;
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding-left: 80px;
    }

    li {
      position: relative;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        position: absolute;
        top: 0;
        left: -80px;
        width: 45px;
        filter: invert(70%) sepia(99%) saturate(397%) hue-rotate(3deg)
          brightness(110%) contrast(85%);
      }
    }
  }

  &__list-item-title {
    font-family: $oswald-font-family;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #151515;
    padding: 50px;
    border-top-left-radius: $button-radius-small;
    border-bottom-right-radius: $button-radius-medium;
    border-bottom: 3px solid $secondary-color;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      box-shadow: 0 0 30px rgba($secondary-color, 0.2);
    }

    &-desc {
      p {
        margin-bottom: 10px;
      }
      &-note {
        font-family: $roboto-font-family;
        font-weight: 500;
        color: $secondary-color;
      }
    }

    &-title {
      font-family: $oswald-font-family;
      text-transform: uppercase;
      color: $secondary-color;
      margin-bottom: 30px;
    }

    &-list {
      margin-top: 20px;
      margin-left: -40px;
      list-style-type: square;

      &-title {
        font-family: $oswald-font-family;
        font-size: 18px;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      &-item {
        margin-bottom: 5px;
      }
    }

    &-spacer {
      flex-grow: 1;
    }

    &-prices {
      margin-top: 20px;
      padding: 20px;
      text-align: center;
      background-color: rgba($primary-color, 0.2);
      border-top-left-radius: $button-radius-small;
      border-bottom-right-radius: $button-radius-medium;
      font-family: $oswald-font-family;
      font-size: 18px;
      line-height: 1.2;

      &-price {
        font-family: $pt-serif;
        font-size: 26px;
        color: $secondary-color;
      }
    }

    &-button {
      margin-top: 40px;
      padding: 10px 0px;
      font-family: $oswald-font-family;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      background-color: $primary-color;
      border-top-left-radius: $button-radius-small;
      border-bottom-right-radius: $button-radius-medium;
      cursor: pointer;
      transition: box-shadow 0.3s, color 0.3s;

      &:hover {
        box-shadow: 0 0 20px rgba($secondary-color, 0.2);
        color: $secondary-color;
      }
    }
  }
}

.footer {
  position: relative;
  background: url(../img/footer-bg.jpg) no-repeat center -1300px;
  padding: 150px 400px;

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.6);
  }

  &__form {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      font-family: $oswald-font-family;
      font-size: 26px;
      color: $secondary-color;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 3px solid rgba($primary-color, 0.2);
      color: #fff;
      font-size: 20px;
      outline: none;
      padding: 10px 0;
      margin-bottom: -3px;
      width: 100%;

      &:focus {
        border-bottom: 3px solid $secondary-color;
      }
    }

    &-input {
      &::after {
        display: block;
        content: "";
        border-bottom: 3px solid $secondary-color;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    &-button {
      font-family: $oswald-font-family;
      font-size: 18px;
      letter-spacing: 1px;
      text-align: center;
      padding: 10px 0;
      margin-top: 30px;
      background-color: $primary-color;
      border-top-left-radius: $button-radius-small;
      border-bottom-right-radius: $button-radius-medium;
      border-bottom: 3px solid $secondary-color;
      cursor: pointer;
      transition: box-shadow 0.3s, color 0.3s;

      &:hover {
        box-shadow: 0 0 50px rgba($secondary-color, 0.2);
        color: $secondary-color;
      }
    }
  }
}
